# -*- coding: utf-8 -*-

import scrapy


class $classname(scrapy.spider):
    """ website_name """
    name = "$name"
    allowed_domains = ["$domain"]
    start_urls = (
        'http://www.$domain/',
    )
    execution_type = 'testing'
    country = 'belgium'
    locale ='fr'

    def parse(self, response, **kwargs):
        pass
